body {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background: #122139;
    color: white;
    margin: 0;
    padding: 0;
}

.message-container {
    margin-top: 20px;
}

.message-container h1 {
    font-size: 2rem;
    color: #ff4e85;
    text-shadow: 2px 2px 5px rgba(255, 78, 133, 0.8);
}

.message-container p {
    font-size: 1.2rem;
    color: #f5b6cd;
}
